body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	}

.blog-index a {
	text-decoration: none;
        font-weight: bold;
	}





.post a {
	text-decoration: none;
	font-weight: bold;
	}
.post a:hover {
	color: red;
	}

.post p {
	width: 80%;
        word-wrap: break-word;
	}

.post pre {
	font-size:normal;
	white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
	}

.top-nav {
	overflow: hidden;
	background-color: #E6E6E6;
	position: fixed;
	top: 0;
	width: 100%;
	}

.top-nav nav {
	float: center;
	max-width: 800px;
	margin: 0 auto;
	}

.top-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.top-nav a {
	float: left;
	display: block;
	color: $font-color;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: $font-style;
	}

.top-nav a:hover {
	background-color: #DDD;
	color: #404040;
	font-weight: 700;
	}

main {
	margin-top: 30px;
	padding: 16px;
	/*height: 1500px;  Used in this example to enable scrolling */
	}

.blog-post a , span{
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
	color: $font-color;
	font-weight: bold;
	}

.blog-post span {
	font-size: small;
	}
	
.blog-post a:hover {
        color: blue;
	}

.blo-post ul, li {
	list-style: none;
	}

.blog-excerpt p {
	font-size: 12px;
	width: 50%;
        word-wrap: break-word;
	}
.blog-excerpt pre {
	font-size: 12px;
	white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
	}

p {
	width: 80%;
	word-wrap: break-word;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
 }
