* {
  box-sizing: border-box; }

img {
  width: 100%; }

.container-header {
  display: grid;
  grid-template-columns: 40px 40px 1fr 1fr;
  grid-gap: 10px; }

.header {
  background-color: gray;
  border: 2px solid red;
  height: 70px; }

.header.brand,
.header.brand img {
  grid-column: 1 / span 2;
  max-width: 100%;
  max-height: 100%; }

.header.ads1 {
  grid-column: 3;
  max-width: 100%;
  max-height: 70px; }

.header.ads2 {
  grid-column: 4;
  max-width: 100%;
  max-height: 100%; }

img.navi-left {
  width: auto;
  height: 30px; }

.navi-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto; }

.navi-left ul li a {
  display: block;
  text-align: center;
  margin-bottom: 6px; }

.topic-grid1,
.topic-grid2 {
  float: left;
  width: 360px;
  margin-right: 2%;
  border: none;
  position: relative; }

.desc {
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  text-align: center;
  padding: 1px;
  height: 64px; }

.desc.ubuntu {
  background: #E95420;
  color: #fff; }

.desc.alpine {
  background: #00ace6;
  color: #fff; }

.desc p {
  margin-top: 1px;
  margin-left: -8px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif; }

.issue-box {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 130px;
  width: 143px;
  text-align: center;
  z-index: 0;
  right: 0;
  border-top-right-radius: 0.7em; }

.issue-box span.issue-title {
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  color: #444;
  background: #ffd400;
  text-transform: uppercase;
  padding: 4px;
  width: 180px;
  text-align: center;
  display: block;
  position: absolute;
  left: 28px;
  top: 16px;
  transform: rotate(45deg);
  box-shadow: 3px -4px 13px 3px rgba(0, 0, 0, 0.75); }

.issue-box span:empty {
  display: none; }

.container.home {
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  grid-gap: 10px;
  padding-top: 10px; }

.home {
  background-color: gray;
  border: 2px solid red;
  height: 100%; }

.home.navi-left {
  grid-column: 1 / span 2;
  height: 100%;
  width: 100%; }

.home.content {
  grid-column: 3;
  width: 100%;
  height: 100%; }
